* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ibarra Real Nova', serif;
    background-color: rgb(250, 243, 222);

}

header {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 120px;
    color: rgb(80, 14, 142);
}

#name {
    font-family: 'Mochiy Pop One', sans-serif;
}

section{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 453px;
}

aside#izq h1 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(80, 14, 142);
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

aside#izq input {
    padding: 10px;
    margin: 5px 0;
    width: 176px;
}

aside#izq input[type = "submit"] {
    width: auto;
    background-color: rgb(80, 14, 142);
    color: white;
    cursor: pointer;
}

aside#izq input[type = "submit"]:hover {
    background-color: rgb(225, 203, 245);
}

aside#izq input[type = "submit"]:active {
    background-color: rgb(149, 115, 182);
}
