@import "../../node_modules/bootstrap/scss/functions";

$primary: #ADEFD1FF;
$secondary: #00203FFF;

* {
    list-style: none;
    font-family: 'Ibarra Real Nova', serif;
    background-color: $secondary;
}

body {
    margin: 5px !important;
}

.row.g-2 {
    padding: 20px;
}

header {
    position: relative;
    padding: 20px;
    color: $primary;
}

#name {
    font-family: 'Mochiy Pop One', sans-serif;
}

.table {
    color: $primary !important;
    background-color: $secondary;
    border-color: $primary !important;
}

th {
    border-width: 3px!important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
}

td {
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    border-width: 1px!important;
}

tr {
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    border-width: 1px!important;
}
@import '../../node_modules/bootstrap/scss/bootstrap.scss';